<%= javascript_include_tag 'typing.js' %>
<div class="typing_main">
  <div class="typing_timer" id="timer">制限時間：30秒</div>
  <div class="typing_typeBox">
    <div class="typing_Display" id="typeDisplay">
      ゲームを開始すると、ここに英語の文章が表示されます。
      日本語入力を行った場合、動作が保証できません。
      IMEが必ず半角英数になっていることを確認してください。
    </div>
    <%=text_area_tag "typeInput",
      nil,
      class: "typing_TypeInput",
      readonly: true,
      onpaste: "return false;",
      oncut: "return false;",
      oncopy: "return false;",
      ondrag: "return false;",
      ondrop: "return false;"
    %>
  </div>
  <%= button_tag "開始する", id: "startButton", class: "typing_button", autofocus: true %>
  <div class="typing_warning">
    <div class="typing_warning-title">
      【操作方法】
    </div>
    <div class="typing_warning-description">
      <li>
        「開始する」ボタンを押すと、タイピングゲームが始まります。
      </li>
      <li>
        ゲームが始まると、テキスト上に英語表記の文章が表示されます。
      </li>
      <li>
        その文章を英語入力でタイピングしてください。
      </li>
      <li>
        制限時間内にタイピングができれば、ゲームクリアとなり、制限時間内に終わらなければ、ゲームオーバーとなります。
      </li>
      <li>
        入力に成功した場合、文字が緑色に変化し、タイプミスをした場合、赤色に変化します。
      </li>
      <li>
        ゲームの途中で「リスタートする」ボタンからゲームを最初からやり直すことができます。
      </li>
      <li>
        ゲーム終了後、「もう一度挑戦する」ボタンを押すと、ゲームをもう一度遊べます。
      </li>
    </div>

    <div class="typing_warning-title">
      【注意事項】
    </div>

    <div class="typing_warning-description">
      <li>
        タイピングゲームを行う場合は、必ずIMEが半角英数となっていることを確認してください。
      </li>
      <li>
        日本語を入力したり、入力した英語を日本語に変換するなどした場合、動作が不安定になるため、ゲームの正常な動作・挙動が保証できません。
      </li>
      <li>
        このゲームは"Google Chrome"で遊ぶことを想定しています。
      </li>
    </div>

  </div>
</div>
