<%= javascript_include_tag 'typing.js' %>
<div class="typing_body">
  <div class="typing_timer" id="timer">制限時間：30秒</div>
  <div class="typing_container">
    <div class="typing_type-display" id="typeDisplay"></div>
    <textarea
      class="typing_type-Input"
      id="typeInput"
      readonly
      onpaste="return false;"
      oncut="return false;"
      oncopy="return false;"
      ondrag="return false;"
      ondrop="return false;">
    </textarea>
    <button id="startButton" class="typing_button" autofocus>開始する</button>
  </div>
</div>
