/* index */
/* exchanged_wordと共有 */

.word_list{
  display: flex;
  justify-content: center;
  align-items: center;
}

.word_reputation_star{
  -webkit-text-stroke:1px #f0d0d0;
  font-size: 30px;
  color: #eefe57;
}

.word_reputation_bad{
  margin-left: 15px;
  -webkit-text-stroke:1px #887373;
  font-size: 30px;
  font-weight: 600;
  color: #887373;
}

.word_name{
  width: 200px;
  height: 20px;
  border-radius: 5px;
  padding: 8px;
  margin-left: 16px;
  font-size: 15px;
  color: #000000;
  border: solid 0.1px black;
  background-color: #FFFFFF;
  text-align: center;
  cursor: copy;
}

.service_category{
  width: 200px;
  height: 20px;
  white-space:nowrap;
  border-radius: 5px;
  padding: 8px;
  margin-left: 5px;
  font-size: 15px;
  text-decoration: none;
  color: #6c757d;
  border: solid 0.1px black;
  background-color: #FFFFFF;
  text-align: center;
  cursor: pointer;
}

.word_button_edit{
  width: 30px;
  height: 20px;
  border-radius: 5px;
  padding: 8px 20px;
  margin-left: 5px;
  font-size: 15px;
  background-color: #e1e2f466;
  color: #333333;
  border: solid 0.1px black;
  text-decoration: none;
  text-align: center;
}

.word_paginate{
  text-align: center;
  margin: 20px 0;
}

@media (max-width: 599px) {
  .word_list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .word_reputation_bad{
    margin-left: 0;
  }

  .word_name{
    margin-left: 0;
  }

  .service_category{
    margin-left: 0;
  }

  .word_name, .service_category{
    margin-bottom: 5px;
  }

  .word_button_edit{
    margin-left: 0;
    margin-bottom: 10px;
  }

  .word_paginate{
    margin: 30px 0 50px;
  }
}


/* new */
.word_new_list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.word_new_record{
  margin-bottom: 5px;
}

.word_new_name{
  border-radius: 5px;
  padding: 8px;
  font-size: 15px;
  border: solid 0.1px black;
  text-align: center;
}

.word_new_category{
  border-radius: 5px;
  margin-left: 3px;
  padding: 10px;
  font-size: 15px;
  color: #000000;
  border: solid 0.1px black;
  text-align: center;
}

.word_new_button_save{
  border-radius: 5px;
  padding: 8px 32px;
  font-size: 15px;
  background-color: #1da1f2;
  color: #EEEEEE;
  border: none;
}

@media (max-width: 599px) {
  .word_new_record{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  .word_new_name, .word_new_category{
    margin-left: 0;
    margin-bottom: 4px;
  }

  .word_new_button_save{
    margin-bottom: 30px;
  }
  
}



/* edit */

.word_edit_list{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.word_edit_title{
  margin-bottom: 6px;
  font-size: 20px;
  color: #6c757d;
  font-weight: 600;
}

.word_edit_field{
  padding: 8px;
  margin-bottom: 22px;
  font-size: 15px;
  width: 300px;
  border: solid 0.1px black;
  border-radius: 5px;
  text-align: center;
}

.word_edit_save_button{
  text-align: center;
  border-radius: 5px;
  margin-top: 5px;
  padding: 7px 20px;
  font-size: 15px;
  background-color: #1da1f2;
  color: #EEEEEE;
  text-decoration: none;
  border: none;
}

.word_edit_delete{
  text-align: center;
  margin-top: 35px;
}

.word_edit_delete_button{
  text-align: center;
  border-radius: 5px;
  padding: 7px 20px;
  margin-bottom: 25px;
  font-size: 15px;
  background: #b4bcc7;
  color: #EEEEEE;
  text-decoration: none;
  border: none;
}

