.word_theme {
  color: #444444;
  text-align: center;
  font-size: 30px;
}

.word_list{
  text-align: center;
}

.word_title_header{
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin-top: 25px;
}

.word_title_header_name{
  
}

.word_title_header_main_category{
  margin-left: 80px;
}

.word_title_header_service_category{
  margin-left: 100px;
  margin-right: 100px;
}

.word_name{
  border-radius: 5px;
  margin-top: 7px;
  padding: 3px;
  font-size: 15px;
  border: solid 0.1px black;
}

.word_main_category{
  border-radius: 5px;
  margin-left: 3px;
  margin-top: 7px;
  padding: 3px;
  font-size: 15px;
  border: solid 0.1px black;
}

.word_service_category{
  border-radius: 5px;
  margin-left: 3px;
  margin-top: 7px;
  padding: 3px;
  font-size: 15px;
  border: solid 0.1px black;
}

.word_button_edit{
  border-radius: 5px;
  margin-left: 3px;
  margin-top: 1px;
  padding: 7px 20px;
  font-size: 15px;
  background-color: rgb(52, 152, 219);
  color: #EEEEEE;
  text-decoration: none;
  border: none;
}






.word_new_list{
  margin-top: 15px;
  text-align: center;
}

.word_new_title_header{
  margin-top: 40px;
  display: flex;
  justify-content: center;
  font-size: 20px;
}

.word_new_title_header_name{
  
}

.word_new_title_header_main_category{
  margin-left: 100px;
}

.word_new_title_header_service_category{
  margin-left: 30px;
  
}

.word_new_record{
  margin-bottom: 15px;
}

.word_new_name{
  border-radius: 5px;
  padding: 8px;
  font-size: 16px;
  border: solid 0.1px black;
}

.word_new_main_category{
  border-radius: 5px;
  margin-left: 3px;
  padding: 10px;
  font-size: 16px;
  border: solid 0.1px black;
}

.word_new_service_category{
  border-radius: 5px;
  margin-left: 3px;
  padding: 10px;
  font-size: 16px;
  border: solid 0.1px black;
}

.word_new_button_save{
  border-radius: 5px;
  padding: 8px 32px;
  margin-top: 10px;
  font-size: 17px;
  background-color: rgb(52, 152, 219);
  color: #EEEEEE;
  border: none;
}






.word_edit_list{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.word_edit_title{
  margin-bottom: 5px;
  font-size: 18px;
}

.word_edit_field{
  padding: 5px 10px;
  margin-bottom: 15px;
  font-size: 16px;
  width: 300px;
  border: solid 0.1px black;
  border-radius: 5px;
}

.word_edit_save_button{
  text-align: center;
  border-radius: 5px;
  margin-top: 5px;
  padding: 7px 20px;
  font-size: 15px;
  background-color: rgb(52, 152, 219);
  color: #EEEEEE;
  text-decoration: none;
  border: none;
}

.word_edit_delete{
  text-align: center;
  margin-top: 35px;
}

.word_edit_delete_button{
  text-align: center;
  border-radius: 5px;
  padding: 7px 20px;
  font-size: 15px;
  background-color: rgb(101, 122, 136);
  color: #EEEEEE;
  text-decoration: none;
  border: none;
}