/* 共通 */
.word_theme {
  color: #444444;
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
  color: #6c757d;
}

/* index */
/* exchanged_wordと共有 */

.word_list{
  text-align: center;
}

.word_name{
  border-radius: 5px;
  padding: 8px;
  font-size: 15px;
  color: #000000;
  border: solid 0.1px black;
  background-color: #FFFFFF;
  text-align: center;
  cursor: copy;
}

.word_category{
  border-radius: 5px;
  padding: 8px;
  margin-left: 5px;
  font-size: 15px;
  color: #6c757d;
  border: solid 0.1px black;
  background-color: #FFFFFF;
  text-align: center;
}

.word_category{
  border-radius: 5px;
  padding: 8px;
  margin-left: 5px;
  font-size: 15px;
  border: solid 0.1px black;
  background-color: #FFFFFF;
  text-align: center;
}

.word_button_edit{
  border-radius: 5px;
  padding: 8px 20px;
  margin-left: 5px;
  font-size: 15px;
  background-color: rgb(52, 152, 219);
  color: #EEEEEE;
  text-decoration: none;
  border: none;
}




/* new */

.word_new_list{
  margin-top: 15px;
  text-align: center;
}

.word_new_record{
  margin-bottom: 15px;
}

.word_new_name{
  border-radius: 5px;
  padding: 8px;
  font-size: 15px;
  border: solid 0.1px black;
  text-align: left;
}

.word_new_category{
  border-radius: 5px;
  margin-left: 3px;
  padding: 10px;
  font-size: 15px;
  color: #000000;
  border: solid 0.1px black;
  text-align: center;
}

.word_new_button_save{
  border-radius: 5px;
  padding: 8px 32px;
  font-size: 15px;
  background-color: rgb(52, 152, 219);
  color: #EEEEEE;
  border: none;
}




/* edit */

.word_edit_list{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.word_edit_title{
  margin-bottom: 6px;
  font-size: 20px;
  color: #6c757d;
  font-weight: 600;
}

.word_edit_field{
  padding: 8px;
  margin-bottom: 22px;
  font-size: 15px;
  width: 300px;
  border: solid 0.1px black;
  border-radius: 5px;
  text-align: center;
}

.word_edit_save_button{
  text-align: center;
  border-radius: 5px;
  margin-top: 5px;
  padding: 7px 20px;
  font-size: 15px;
  background-color: rgb(52, 152, 219);
  color: #EEEEEE;
  text-decoration: none;
  border: none;
}

.word_edit_delete{
  text-align: center;
  margin-top: 35px;
}

.word_edit_delete_button{
  text-align: center;
  border-radius: 5px;
  padding: 7px 20px;
  font-size: 15px;
  background-color: rgb(101, 122, 136);
  color: #EEEEEE;
  text-decoration: none;
  border: none;
}