.about_board{
  display:flex;
  justify-content: center;
}

.about_board_text{
  width: 60vw;
  height: 60vh;
  padding: 8px 32px;
  margin-bottom: 10px;
  background-color: #FFFFFF;
  border-radius: 5px;
  border: 1px double #efe2ce;
  font-size: 20px;
  color: #6c757d;
  overflow: scroll;
}

.about_board_text h3{
  font-size: 23px;
  margin: 16px 0;
}

.about_board_text p{
  font-size: 21px;
  margin-bottom: 8px;
}

@media (max-width: 599px) {
  .about_board_text{
    width: 80%;
    height: 450px;
  }

  .about_board_text h3{
    font-size: 22px;
    margin: 14px 0;
  }
  
  .about_board_text p{
    font-size: 20px;
    margin-bottom: 7px;
  }
}