.etrobocons_header{
  height: 60px;
  width: 100%;
  background-color: #effffe;
  padding: 50px 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.etrobocons_header h1{
  font-size: 40px;
}

.etrobocons_main_flame{
  height: 100%;
  width: 100%;
  background-color: #effffe;
  display: flex;
  justify-content: center;
  align-items: center;
}

.etrobocons_main{
  height: 100%;
  width: 90%;
  margin: 20px 0;
}

.etrobocons_contents{
  height: 100%;
  width: 100%;
  margin: 60px 0;
}

.etrobocons_content{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.etrobocons_title{
  font-size: 30px;
  margin: 20px 0 10px;
  text-align: center;
}

.etrobocons_youtube iframe{
  width: 600px;
  height: 400px;
}

.etrobocons_describe{
  width: 95%;
  margin-top: 30px;
  font-size: 18px;
}

.etrobocons_describe li{

}

.etrobocons_link{
  text-decoration: none;
  font-weight: 700;
}

@media (max-width: 599px) {
  .etrobocons_header{
    width: 100%;
    padding: 10px 0;
  }
  
  .etrobocons_header h1{
    font-size: 30px;
    text-align: center;
  }
  
  .etrobocons_main{
    width: 95%;
    margin: 0;
  }
  
  .etrobocons_contents{
    margin: 0;
  }
  
  .etrobocons_title{
    font-size: 18px;
  }
  
  .etrobocons_youtube iframe{
    width: 350px;
    height: 200px;
  }
  
  .etrobocons_describe{
    width: 95%;
    margin: 10px 0;
    font-size: 16px;
  }
}