.error-alert {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.error-message {
  font-size: 1.3vw;
  list-style: disc;
  color: rgb(182, 48, 0);
}

.alert_message{
  text-align: center;
  font-size: 17px;
  background-color: rgba(231, 93, 93, 0.4);
  color: #222222;
}

@media (max-width: 599px) {
  .error-message {
    font-size: 4.5vw;
    text-align: center;
  }

  .alert_message{
    margin: 0 15px;
  }
}