.login {
  padding: 8px 24px;
  text-decoration: none;
  margin-right: 10px;
  color: #6c757d;
  font-size: 18px;
  border: 1px solid;
  border-radius: 20px;
}

.sign-up {
  padding: 8px 24px;
  text-decoration: none;
  color: #6c757d;
  font-size: 18px;
  border: 1px solid;
  border-radius: 20px;
}