.top-container{
  font-size: 18px;
  color: #6c757d;
  border-bottom: solid 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon{
  text-decoration: none;
  padding: 8px 24px;
  color: #327eef;
  font-weight: 700;
  font-size: 20px;
}

.link {
  padding: 8px 24px;
  text-decoration: none;
  background-color: #fcf5f3;
  color: #6c757d;
  border-radius: 10px;
}

.tweet, .login, .user, .sign-up, .log-out{
  padding: 8px 24px;
  text-decoration: none;
  color: #FFFFFF;
  border: 1px solid;
  border-radius: 20px;  
}


.tweet{
  margin-right: 4px;
  background-color: #1da1f2;
}

.login {
  margin-right: 4px;
  background-color: #ea7d24;
}

.user {
  margin-right: 4px;
  background-color: #858fee;
}

.sign-up {
  background-color: #3ccace;
}

.log-out {
  background-color: #ea7d24;
}