.top-container{
  font-size: 18px;
  color: #6c757d;
  margin: 0 10px 10px 10px;
  padding: 0 10px 10px 10px;
  border-bottom: solid 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon{
  text-decoration: none;
  padding: 8px 24px;
  color: #327eef;
  font-weight: 700;
  font-size: 20px;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.link {
  padding: 8px 24px;
  margin-right: 10px;
  text-decoration: none;
  background-color: #fcf5f3;
  color: #6c757d;
  border-radius: 10px;
}

.login {
  padding: 8px 24px;
  text-decoration: none;
  margin-right: 10px;
  color: #FFFFFF;
  background-color: #ea7d24;
  border: 1px solid;
  border-radius: 20px;
}

.sign-up {
  padding: 8px 24px;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #3ccace;
  border: 1px solid;
  border-radius: 20px;
}

.user {
  padding: 8px 24px;
  text-decoration: none;
  margin-right: 10px;
  color: #6c757d;
  font-weight: 700;
  font-size: 20px;
}

.log-out {
  padding: 8px 24px;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #ea7d24;
  border: 1px solid;
  border-radius: 20px;
}