.split_main {
  display: flex;
  justify-content: left;
  height: 600px;
}

.side-bar {
  width: 240px;
  height: 100%;
}

.main_screen {
  width: calc(100% - 240px);
  border-radius: 50px 0 0 0;
  height: 100%;
  background-color: #fcf5f3;
  margin-top: 20px;
  padding: 16px 10px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.word_board{
  display:flex;
  justify-content: center;
}

.word_board_text{
  width: auto;
  height: 80px;
  padding: 8px 32px;
  margin-bottom: 10px;
  background-color: #FFFFFF;
  border-radius: 5px;
  border: 1px double #efe2ce;
  font-size: 13px;
  color: #6c757d;
  overflow: auto;
}