.side_bar_word_point_block{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f8ff;
  border-radius: 10px 0 0 0 ;
}

.side_bar_word_point{
  text-align: center;
  color: #27282b;
  font-weight: 600;
  padding: 8px 16px;
  width: 70%;
}

.side_bar_block{
  margin-top: 25px;
  padding: 0 8px 0 24px;
}

.side_bar_title_header{
  font-weight: 550;
  color: #565856;
}

.side_bar_contents{
  display: flex;
  flex-direction: column;
  align-items: left;
}

.side_bar_content{
  font-size: 15px;
  color: #505650;
  text-decoration: none;
  border-bottom: 0.1px solid;
  width: 75%;
  margin-top: 1px;
  margin-left: 4px;
  padding: 3px 8px;
}

.copyright{
  margin-left: 40px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 10px;
}

@media (max-width: 599px) {
  .sidebar_close, .side_bar_close{
    height: 40px;
  }

  .side_bar_word_point_block{
    margin-bottom: 15px;
  }

  .sidebar_close{
    display: flex;
    justify-content: center;
    background-color: #ffce9d;
    width: 100%;
  }

  .side_bar_block{
    text-align: center;
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
  }

  .side_bar_title_header{
    text-align: center;
    font-size: 18px;
  }

  .side_bar_contents{
    align-items: center;
  }

  .side_bar_content{
    font-size: 17px;
    margin: 2px 0;
    padding: 4px 10px;
  }
  
  .copyright{
    margin-left: 75px;
    
    
  }
}
