.side_bar_word_point_block{
  display: flex;
  justify-content: center;
  background-color: #f2f8ff;
  border-radius: 10px 0 0 0 ;
}

.side_bar_word_point{
  text-align: center;
  color: #27282b;
  font-weight: 600;
  padding: 8px 16px;
  width: 70%;
}

.side_bar_block{
  margin-top: 25px;
  padding: 0 8px 0 24px;
}

.side_bar_title_header{
  font-weight: 550;
  color: #565856;
}

.side_bar_links{
  display: flex;
  flex-direction: column;
  align-items: left;
}

.side_bar_link{
  font-size: 15px;
  color: #505650;
  text-decoration: none;
  border-bottom: 0.1px solid;
  width: 75%;
  margin-top: 1px;
  margin-left: 4px;
  padding: 3px 8px;
}

