<div class="top-container">
  <div>Word Experience</div>
  
  <div>
    <ul class="links">
      <li><a href="#" class="link">お問合せ</a></li>
      <li><a href="#" class="link">マニュアル</a></li>
      <li><a href="#" class="link">About</a></li>
    </ul>
  </div>
  
  <div>
    <% if user_signed_in? %>
      <%= link_to current_user.nickname + "さん", "#", class: "user" %>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "log-out" %>
    <% else %>
      <%= link_to 'ログイン', user_session_path, class: "login" %>
      <%= link_to '新規登録', new_user_registration_path, class: "sign-up" %>
    <% end %>
  </div>
</div>