.another_site{
  display: flex;
  justify-content: center;
  align-items: center;
}

.another_site_button{
  width: 200px;
  height: 200px;
  background-color: #ece5e5a8;
  color: #505650;
  margin: 0 30px;
  border: 0.1px solid #111111;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top_page_board{
  display:flex;
  justify-content: center;
}

.top_page_text{
  width: 500px;
  height: 98%;
  padding: 8px 32px;
  margin-bottom: 10px;
  background-color: #FFFFFF;
  border-radius: 5px;
  border: 1px double #efe2ce;
  font-size: 13px;
  color: #6c757d;
  overflow: scroll;
}

@media (max-width: 599px) {
  .top_page_board{
    height: 85%;
  }

  .top_page_text{
    width: 90%;
    font-size: 12px;
    padding: 8px 14px;
    height: 90%;
  }
}