<div class="header">
  <%= render "shared/header" %>
</div>

<div class="split_main">
  <div class="side-bar">
    <%= render "shared/side_bar" %>
  </div>
  <div class="main_screen">
    <h3 class="word_theme">
      管理人からのお知らせ
    </h3>

    <div class="word_board">
      <div class="word_board_text">
        【初めての方はこちらを一読してください】<br>
        ・本サイトは、個人が作成したポートフォリオになります。営利を目的とはしておりません。<br>
        ・そのため個人情報の掲載は行わないでください。なお通信プロトコルはHTTPSではありません。<br>
        ・また本サイトを利用したことにより、ユーザーが受けた被害の責任は一切負いません。<br>
        ・不定期でアップデートを行います。事前の予告は行なっておりません。<br>
        ・本サイトでは、JavaScriptを利用しているため、有効化をお願いします。
      </div>
    </div>

    <div class="word_board">
      <div class="word_board_text">
        【アップデート情報】<br>
        2022/12/16 掲載：アプリのデザインを一新<br>
      </div>
    </div>

  </div>
</div>