<div class="header">
  <%= render "shared/header" %>
</div>

<div class="split_main">
  <div class="side-bar">
    <%= render "shared/side_bar" %>
  </div>
  <div class="main_screen">
    <h3 class="word_theme">
      管理人からのお知らせ
    </h3>

    <div class="word_board">
      <div class="word_board_text">
        【初めての方はこちらを一読してください】<br>
        ・本サイトは、個人が作成したポートフォリオになります。<br>
        ・営利を目的とはしておりません。<br>
        ・本サイトを利用したことにより、ユーザーが受けた被害の責任は一切負いません。<br>
        ・個人情報の掲載は行わないでください。<br>
        　※なお通信プロトコルはHTTPSではありません。<br>
        ・不定期でアップデートを行います。事前の予告は行なっておりません。<br>
        ・本サイトでは、JavaScriptを利用しているため、有効化をお願いします。
      </div>
    </div>

    <div class="word_board">
      <div class="word_board_text">
        【アップデート情報】<br>
        2022/12/21 掲載：パスワード変更ができる機能を実装<br>
        2022/12/20 掲載：プロフィール情報の項目を新たに追加し、補足説明を追加<br>
        2022/12/18 掲載：不正登録を防ぐため、reCAPTCHAを導入<br>
        2022/12/16 掲載：アプリのデザインを一新
      </div>
    </div>

    <h3 class="word_theme">
      Word Experience以外のアプリケーションなど
    </h3>

    <div class="another_site">
      <div class="another_site_button">
        <h3>【準備中】</h3>
        <div>DFPの有効確認システム</div>
        <div>（予定）</div>
      </div>
      <div class="another_site_button">
        <h3>【準備中】</h3>
        <div>(未定)</div>
      </div>
      <div class="another_site_button">
        <h3>【準備中】</h3>
        <div>(未定)</div>
      </div>
      <div class="another_site_button">
        <h3>【準備中】</h3>
        <div>(未定)</div>
      </div>
    </div>

  </div>
</div>