<input id="header_display" type="checkbox" class="header_check_box">
<label for="header_display" class="header_open">▲</label>
<label for="header_display" class="header_back"></label>
<label for="sidebar_display" class="sidebar_open">◀︎</label>
<div class="header">
  <%= render "shared/header" %>
</div>

<div class="split_main">
  <input id="sidebar_display" type="checkbox" class="sidebar_check_box">
  <label for="sidebar_display" class="sidebar_back"></label>
  <div class="sidebar">
    <%= render "shared/side_bar" %>
  </div>
  <div class="main_screen">
    <h3 class="word_theme">
      管理人からのお知らせ
    </h3>

    <div class="top_page_board">
      <div class="top_page_text">
        <b>【初めての方はこちらを一読してください】　</b><br>
        ・本サイトは、個人が作成したポートフォリオになります。<br>
        ・営利を目的とはしておりません。<br>
        ・本サイトを利用したことにより、ユーザーが受けた被害の責任は一切負いません。<br>
        ・個人情報の掲載は行わないでください。<br>
        ・不定期でアップデートを行います。事前の予告は必ずしも行なっておりません。<br>
        ・本サイトでは、JavaScriptを利用しているため、有効化をお願いします。<br>
        ・本サイトが接続されないなど、トラブルのご連絡はTwitter上に掲載いたします。<br>
        <br>

        <b>【重要なお知らせ】</b><br>
        2023/4/6 掲載：クローズドβテストが終了しました。ご協力いただきました方に対し、心から感謝申し上げます。<br>
        <br>

        <b>【アップデート情報】</b><br>
        2023/7/7 掲載：タイピングゲームを実装<br>
        2023/6/16 掲載：ワード投稿ページのエラー詳細表示機能を実装<br>
        2023/6/15 掲載：ページネーションを実装<br>
        2023/3/12 掲載：DXアセスメントへの遷移元をサイドバーへ追加<br>
        2023/2/17 掲載：Aboutページへ機能を追加<br>
        （クローズドβテストに向け、登録情報を見える化しました）<br>
        2023/2/15 掲載：お問い合わせ機能を追加<br>
        （一部機能はセキュリティ上問題があるため、制限しています。詳しくはお問い合わせページをご確認ください）<br>
        2023/2/12 掲載：SSL化の設定・実装が完了<br>
        2023/2/10 掲載：その他の作品に、FingerPrintingページを追加<br>
        2023/1/11 掲載：その他の作品に、ETロボコン映像を追加<br>
        2023/1/1 掲載：スマートフォンで操作ができるように、Webレスポンシブデザインの機能を実装<br>
        （全てのスマートフォンで動作を保証している機能ではりませんので、あらかじめご了承ください）
        （なお動作検証およびその確認には、iPhoneSE(2G)を使用しています）<br>
        2022/12/27 掲載：ワード一覧ページのサービスカテゴリへ新機能を実装<br>
        （クリックすると、各種サービスへ直接アクセスできるようになりました）<br>
        2022/12/24 掲載：Aboutページを新たに追加<br>
        2022/12/21 掲載：パスワード変更ができる機能を実装<br>
        2022/12/20 掲載：プロフィール情報の項目を新たに追加し、補足説明を追加<br>
        2022/12/18 掲載：不正登録を防ぐため、reCAPTCHAを導入<br>
        2022/12/16 掲載：アプリのデザインを一新
      </div>
    </div>
  </div>
</div>