<input id="header_display" type="checkbox" class="header_check_box">
<label for="header_display" class="header_open">▲</label>
<label for="header_display" class="header_back"></label>
<label for="sidebar_display" class="sidebar_open">◀︎</label>
<div class="header">
  <%= render "shared/header" %>
</div>

<div class="split_main">
  <input id="sidebar_display" type="checkbox" class="sidebar_check_box">
  <label for="sidebar_display" class="sidebar_back"></label>
  <div class="sidebar">
    <%= render "shared/side_bar" %>
  </div>
  <div class="main_screen">
    <h3 class="word_theme">
      管理人からのお知らせ
    </h3>

    <div class="top_page_board">
      <div class="top_page_text">
        <b>【初めての方はこちらを一読してください】</b><br>
        ・本サイトは、個人が作成したポートフォリオになります。<br>
        ・営利を目的とはしておりません。<br>
        ・本サイトを利用したことにより、ユーザーが受けた被害の責任は一切負いません。<br>
        ・個人情報の掲載は行わないでください。<br>
        ・不定期でアップデートを行います。事前の予告は必ずしも行なっておりません。<br>
        ・本サイトでは、JavaScriptを利用しているため、有効化をお願いします。<br>
        ・本サイトが接続されないなど、トラブルのご連絡はTwitter上に掲載いたします。<br>
        <br>

        <b>【重要なお知らせ】</b><br>
        2023/2/17 掲載：<u>クローズドβテストについて</u><br>
        下記期間で、クローズドβテストを実施いたします。テストに参加いただける方は、以下のルールに気をつけて、アプリをご利用ください。<br>
        <br>
        実施期間：<br>
        ・2023/2/17〜2023/3/31<br>
        注意事項：<br>
        ・情報を登録する際、「個人情報」「不適切な文言」の登録は禁止します。<br>
        （さまざまな方がこのアプリへアクセスするためです）<br>
        ・このアプリに関して、管理者の許可なく、第三者へ情報提供しないでください。<br>
        ・アカウント登録する際、メールアドレスは任意のものを使用してください。<br>
        （ただし既に第三者が使用しているアドレスを故意に登録することは禁じます）<br>
        ・定期的にアプリのアップデートやサーバーの調整を行いますので、使用できない時間帯が発生する可能性があります。<br>
        お願い事項：<br>
        ・メールアドレスとパスワードの失念に注意してください。<br>
        （再発行の機能はまだ実装できていません）<br>
        ・ユーザー登録後、可能であればアカウントは削除しないでほしいです。<br>
        ・フィードバックはお問い合わせページから管理人へメールするか、または他のコミュニケーションツール（LINEなど）を使ってご連絡ください。<br>

        <br>

        2023/2/12 掲載：<u>HTTPS通信(SSL化)への切替作業が完了</u><br>
        先月、1月初旬から実施していた切替作業が完了いたしました。今後は新しいアドレスからアクセスしてください。
        なお以前のアドレスからアクセスした場合は、新しいアドレスにリダイレクトされます。<br>

        新しいアドレス：
        <%= link_to  "https://word-experience.link/", "https://word-experience.link/" %><br>
        以前のアドレス：
        <%= link_to  "http://35.73.136.1/", "http://35.73.136.1/" %><br>
        <br>

        <b>【アップデート情報】</b><br>
        2023/3/12 掲載：DXアセスメントへの遷移元をサイドバーへ追加<br>
        2023/2/17 掲載：Aboutページへ機能を追加<br>
        （クローズドβテストに向け、登録情報を見える化しました）<br>
        2023/2/15 掲載：お問い合わせ機能を追加<br>
        （一部機能はセキュリティ上問題があるため、制限しています。詳しくはお問い合わせページをご確認ください）<br>
        2023/2/12 掲載：SSL化の設定・実装が完了<br>
        2023/2/10 掲載：その他の作品に、FingerPrintingページを追加<br>
        2023/1/11 掲載：その他の作品に、ETロボコン映像を追加<br>
        2023/1/1 掲載：スマートフォンで操作ができるように、Webレスポンシブデザインの機能を実装<br>
        （全てのスマートフォンで動作を保証している機能ではりませんので、あらかじめご了承ください）
        （なお動作検証およびその確認には、iPhoneSE(2G)を使用しています）<br>
        2022/12/27 掲載：ワード一覧ページのサービスカテゴリへ新機能を実装<br>
        （クリックすると、各種サービスへ直接アクセスできるようになりました）<br>
        2022/12/24 掲載：Aboutページを新たに追加<br>
        2022/12/21 掲載：パスワード変更ができる機能を実装<br>
        2022/12/20 掲載：プロフィール情報の項目を新たに追加し、補足説明を追加<br>
        2022/12/18 掲載：不正登録を防ぐため、reCAPTCHAを導入<br>
        2022/12/16 掲載：アプリのデザインを一新
      </div>
    </div>
  </div>
</div>