<input id="header_display" type="checkbox" class="header_check_box">
<label for="header_display" class="header_open">▲</label>
<label for="sidebar_display" class="sidebar_open">◀︎</label>
<div class="header">
  <%= render "shared/header" %>
</div>
<label for="header_display" class="header_back"></label>

<div class="split_main">
  <input id="sidebar_display" type="checkbox" class="sidebar_check_box">
  <div class="sidebar">
    <%= render "shared/side_bar" %>
  </div>
  <label for="sidebar_display" class="sidebar_back"></label>
  <div class="main_screen">
    <h3 class="word_theme">
      管理人からのお知らせ
    </h3>

    <div class="word_board">
      <div class="word_board_text">
        【初めての方はこちらを一読してください】<br>
        ・本サイトは、個人が作成したポートフォリオになります。<br>
        ・営利を目的とはしておりません。<br>
        ・本サイトを利用したことにより、ユーザーが受けた被害の責任は一切負いません。<br>
        ・個人情報の掲載は行わないでください。<br>
        　※なお通信プロトコルはHTTPSではありません。<br>
        ・不定期でアップデートを行います。事前の予告は必ずしも行なっておりません。<br>
        ・本サイトでは、JavaScriptを利用しているため、有効化をお願いします。
      </div>
    </div>

    <div class="word_board">
      <div class="word_board_text">
        【重要なお知らせ】<br>
        2022/12/22 掲載：<u>HTTPS通信に向けてのご連絡</u><br>
        さまざまなアプリや機能を実装していく中で、HTTP通信ではいずれ<br>
        <li>セキュリティ上の問題を引き起こす可能性が増大していく</li>
        <li>新たな機能の実装の妨げになる(現状、コピー機能が機能しない)</li>
        との結論に至りました。<br>
        そのため現在のHTTP通信を、HTTPS通信へ切り替えることを検討しております。<br>
        操作の途中でアクセスしづらくなる可能性がございますので、あらかじめご了承ください。<br>
        <br>
        作業予定スケジュール<br>
        下記日時の中から作業を実施いたします。
        <li>開始日時：2022年12月31日(木)0時0分</li>
        <li>終了日時（見込み）：2023年1月3日(土)23時59分</li>
        なお作業が終了した際は、あらためてご案内をさせていただきます。<br>
        <br>
        【アップデート情報】<br>
        2022/12/27 掲載：ワード一覧ページのサービスカテゴリへ新機能を実装<br>
        （クリックすると、各種サービスへ直接アクセスできるようになりました）<br>
        2022/12/24 掲載：Aboutページを新たに追加<br>
        2022/12/21 掲載：パスワード変更ができる機能を実装<br>
        2022/12/20 掲載：プロフィール情報の項目を新たに追加し、補足説明を追加<br>
        2022/12/18 掲載：不正登録を防ぐため、reCAPTCHAを導入<br>
        2022/12/16 掲載：アプリのデザインを一新
      </div>
    </div>
  </div>
</div>