<input id="header_display" type="checkbox" class="header_check_box">
<label for="header_display" class="header_open">▲</label>
<label for="header_display" class="header_back"></label>
<label for="sidebar_display" class="sidebar_open">◀︎</label>
<div class="header">
  <%= render "shared/header" %>
</div>

<div class="split_main">
  <input id="sidebar_display" type="checkbox" class="sidebar_check_box">
  <label for="sidebar_display" class="sidebar_back"></label>
  <div class="sidebar">
    <%= render "shared/side_bar" %>
  </div>
  <div class="main_screen">
    <h3 class="word_theme">
      管理人からのお知らせ
    </h3>

    <div class="top_page_board">
      <div class="top_page_text">
        <b>【初めての方はこちらを一読してください】</b><br>
        ・本サイトは、個人が作成したポートフォリオになります。<br>
        ・営利を目的とはしておりません。<br>
        ・本サイトを利用したことにより、ユーザーが受けた被害の責任は一切負いません。<br>
        ・個人情報の掲載は行わないでください。<br>
        　※なお通信プロトコルはHTTPSではありません。<br>
        ・不定期でアップデートを行います。事前の予告は必ずしも行なっておりません。<br>
        ・本サイトでは、JavaScriptを利用しているため、有効化をお願いします。<br>
        ・本サイトが接続されないなど、トラブルのご連絡はTwitter上に掲載いたします。<br>
        <br>
        <b>【重要なお知らせ】</b><br>
        2023/1/8 掲載：<u>HTTPS通信への切替作業(SSL化)に関してご案内</u><br>
        2022年12月31日〜2023年1月7日にて、作業を実施させていただきましたが、
        本アプリへの適応に失敗しております。そのため現状は、HTTP通信の状態のままとなっております。
        本件に関しては、今後とも調査を続行いたしますので、作業予定スケジュールをご確認ください。なおその間、接続ができないといったこともありますので、ご了承ください。<br>
        2023/2/5 追記<br>
        すべての設定を終え、アクセスできることは確認できたものの、ログアウトや情報の削除等、一部機能でエラーが発生している状態にあります。
        そのため引き続き、調査を行ってまいります。<br>
        <br>

        作業予定スケジュール<br>
        下記、スケジュールで調査や作業を行う可能性があります。<br>
        <li>平日：18時〜23時59分</li>
        <li>祝日：0時〜23時59分</li>
        <br>

        なお以下の作業は終了しています。
        <li>ドメインの購入、Route53への適応</li>
        <li>SSL証明書(Let's Encrypt)の取得、適応</li>
        <li>Webサーバー(Nginx)の設定、アクセス</li>
        <br>

        <b>【アップデート情報】</b><br>
        2023/2/10 掲載：その他の作品に、FingerPrintingページを追加<br>
        2023/1/11 掲載：その他の作品に、ETロボコン映像を追加<br>
        2023/1/1 掲載：スマートフォンで操作ができるように、Webレスポンシブデザインの機能を実装<br>
        （全てのスマートフォンで動作を保証している機能ではりませんので、あらかじめご了承ください）<br>
        （なお動作検証およびその確認には、iPhoneSE(2G)を使用しています）<br>
        2022/12/27 掲載：ワード一覧ページのサービスカテゴリへ新機能を実装<br>
        （クリックすると、各種サービスへ直接アクセスできるようになりました）<br>
        2022/12/24 掲載：Aboutページを新たに追加<br>
        2022/12/21 掲載：パスワード変更ができる機能を実装<br>
        2022/12/20 掲載：プロフィール情報の項目を新たに追加し、補足説明を追加<br>
        2022/12/18 掲載：不正登録を防ぐため、reCAPTCHAを導入<br>
        2022/12/16 掲載：アプリのデザインを一新
      </div>
    </div>
  </div>
</div>