<div class="header">
  <%= render "shared/header" %>
</div>

<div class="split_main">
  <div class="side-bar">
    <%= render "shared/side_bar" %>
  </div>
  <div class="main_screen">
    <h3 class="word_theme">
      管理人からのお知らせ
    </h3>

    <div class="word_board">
      <div class="word_board_text">
        ・現在、本サイトは作成中になります。 <br>
        ・そのため挙動におかしな点があったり、データ登録がうまくいかないなどあります。 <br>
        ・また本サイトを利用したことによる責任は一切負いません。
      </div>
    </div>
  </div>
</div>