<div class="header">
  <%= render "shared/header" %>
</div>

<div class="split_main">
  <div class="side-bar">
    <%= render "shared/side_bar" %>
  </div>
  <div class="main_screen">
    <h3 class="word_theme">
      操作マニュアル
    </h3>

    <div class="youtube_flame">
      <iframe width="800" height="445" src="https://www.youtube.com/embed/16QIaHYuxUQ" title="【Word Experience】操作マニュアル動画" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>

</div>