<input id="header_display" type="checkbox" class="header_check_box">
<label for="header_display" class="header_open">▲</label>
<label for="header_display" class="header_back"></label>
<label for="sidebar_display" class="sidebar_open">◀︎</label>
<div class="header">
  <%= render "shared/header" %>
</div>

<div class="split_main">
  <input id="sidebar_display" type="checkbox" class="sidebar_check_box">
  <label for="sidebar_display" class="sidebar_back"></label>
  <div class="sidebar">
    <%= render "shared/side_bar" %>
  </div>
  <div class="main_screen">
    <h3 class="word_theme">
      操作マニュアル
    </h3>

    <div class="word_board">
      <div class="word_board_text">
        ・操作方法については、こちらのページに掲載しています。<br>
        ・アプリのアップデートに伴い、掲載している情報に違いがある場合もあります。<br>
        ・個人で運営しているため、あらかじめご了承ください。
      </div>
    </div>

    <div class="youtube_frame">
      <iframe src="https://www.youtube.com/embed/tPiT4kAPhJ8" title="【Word Experience】基本的な操作方法" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="youtube_frame">
      <iframe src="https://www.youtube.com/embed/NG6IDbPb7OU" title="【Word Experience】ワード登録時の注意点" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>

</div>