<div class="header">
  <%= render "shared/header" %>
</div>

<div class="split_main">
  <div class="side-bar">
    <%= render "shared/side_bar" %>
  </div>
  <div class="main_screen">
    <h3 class="word_theme">
      操作マニュアル
    </h3>

    <div class="youtube_flame">
      <iframe width="800" height="400" src="https://www.youtube.com/embed/tPiT4kAPhJ8" title="【Word Experience】基本的な操作方法" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="youtube_flame">
      <iframe width="800" height="400" src="https://www.youtube.com/embed/NG6IDbPb7OU" title="【Word Experience】ワード登録時の注意点" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="youtube_flame">
      <iframe width="800" height="400" src="https://www.youtube.com/embed/zugQtiAuiz8" title="【Word Experience】ワードをコピーする際の注意点" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>

</div>