/* index */
/* wordと共有 */
.reputation{
  position: relative;
}

.reputation_star{
  -webkit-text-stroke:1px #f0d0d0;
  font-size: 30px;
  color: #e3e0df;
}

.reputation_bad{
  margin-left: 15px;
  -webkit-text-stroke:1px #ef4848;
  font-size: 30px;
  font-weight: 600;
  color: #ef4848;
}

.reputation_star_counter{
  position: absolute;
  top: 15px;
  left: 25px;
  margin: 4px;
  font-size: 12px;
  color: #000000;
  text-decoration: none;
}

.reputation_bad_counter{
  position: absolute;
  top: 15px;
  left: 35px;
  margin: 4px;
  font-size: 12px;
  color: #000000;
  text-decoration: none;
}

.reputation_link_star, .reputation_link_bad{
  position: absolute;
  top: 0;
  height: 45px;
}

.reputation_link_star{
  left: 0;
  width: 45px;
}

.reputation_link_bad{
  left: 12px;
  width: 30px;
}

.user_profile_link{
  text-align: center;
  width: 120px;
  padding: 8px 5px;
  text-decoration: none;
  margin-right: 10px;
  color: #6c757d;
  font-weight: 700;
  font-size: 14px;
}


/* new */
.exchanged_word_new_box{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exchanged_word_new_button{
  border-radius: 5px;
  padding: 8px 20px;
  margin-top: 15px;
  font-size: 15px;
  background-color: #1da1f2;
  color: #EEEEEE;
  text-decoration: none;
  border: none;
}


/* edit */
.exchanged_word_show_box{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exchanged_word_show_title{
  margin-bottom: 6px;
  font-size: 20px;
  color: #6c757d;
  font-weight: 600;
}

.exchanged_word_show_field{
  padding: 8px;
  margin-bottom: 22px;
  font-size: 15px;
  width: 300px;
  border: solid 0.1px black;
  border-radius: 5px;
  text-align: center;
}