<div class="etrobocons_header">
  <h1>管理人とETロボコン大会の軌跡</h1>
</div>

<div class="etrobocons_main_flame">
  <div class="etrobocons_main">
    <div class="etrobocons_contents">
      <div class="etrobocons_content">
        <div class="etrobocons_title">ETロボコン2017 関西地区大会 アドバンストクラス</div>
      </div>
      <div class="etrobocons_content">
        <div class="etrobocons_youtube">
          <iframe src="https://www.youtube.com/embed/YcsfVBnrAA8?start=1796" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
      </div>
      <div class="etrobocons_content">
        <div class="etrobocons_describe">
          2017年の関西地区大会（Rコース）における映像です。（29:56）
          難所は「ET相撲Neo」といい、土俵上でブロックの色と土俵の色の違いを確認して、押し出し、押し切りして点数を稼ぐというものです。
          土俵の周りでは、新幹線が回っており、接触するとかなりのマイナス点になります。<br><br>
          この大会では、新入社員として参加させていただき、「オブジェクト指向とは何か？」ということを経験させていただきました。
          ここでの経験が、エンジニアとして成長することができた「きっかけ」と言っていいでしょう。<br><br>
          ちなみに私の担当は、モデル制作の補佐という立場でした。
          当時、仕事でUMLを使うことはなかったこともあり、UMLという概念自体、ちんぷんかんぷんでした。
          
        </div>
      </div>
    </div>
    <div class="etrobocons_contents">
      <div class="etrobocons_content">
        <div class="etrobocons_title">ETロボコン2017 チャンピオンシップ大会 アドバンストクラス</div>
      </div>
      <div class="etrobocons_content">
        <div class="etrobocons_youtube">
          <iframe src="https://www.youtube.com/embed/G8ehrY9V8Tk?start=14621" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
      </div>
      <div class="etrobocons_content">
        <div class="etrobocons_describe">
          2017年のチャンピョンシップ大会（Lコース）における映像です。（4:03:41）
          難所は「ブロック並べ」といい、初期配置されたブロックを、同じ色のブロック置き場に配置していくゲームになります。
          配置が終わった後、ブロックの図形に応じて、点数が稼げるというものです。
          なおゲーム終了後に黒色ブロックが、ブロック置き場に配置されていない（ズレていた）場合、かなりのマイナス点になります。
          そのため各チーム、さまざまな方針を取って、さまざまな図形を作成していました。<br><br>
          残念ながら、当時の自分のチームは図形が完成する前にタイムオーバーとなってしまいました。
          この大会は、横浜で開催されており、さまざまな企業の方が日本全国から集まり、周りの技術力の高さに関心を寄せたものです。
        </div>
      </div>
    </div>
    <div class="etrobocons_contents">
      <div class="etrobocons_content">
        <div class="etrobocons_title">ETロボコン2018 関西地区大会 プライマリークラス</div>
      </div>
      <div class="etrobocons_content">
        <div class="etrobocons_youtube">
          <iframe src="https://www.youtube.com/embed/5H_pSSI5Qo8?start=5330" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
      </div>
      <div class="etrobocons_content">
        <div class="etrobocons_describe">
          2018年の関西地区大会（Lコース）における映像です。（1:28:50）
          この大会では、初めて企業チームを2つに分け、ベテランチームと初心者チームに別れ、出場となりました。
          難所は「ルックアップゲート」といい、走行体を傾け、ゲートを通過するというものになります。
          ゲートを通過することと、通過後の駐車場に走行体を止めることで、ボーナスを稼ぐというものになります。<br><br>
          当時は、チームリーダー兼モデル担当として、活動させていただいておりました。
          大会当日、大会の準備で蓄積していた疲労が影響し、上唇が肥大化してしまいました。
          会場へ先に来ていたチームメンバーに、
          「疲れが溜まってしまって、上唇が肥大化してしまった」と報告すると、
          「それは奇遇だな。提出したモデルのクラスも肥大化していると指摘を受けているぞ」と言われました。
          人生の中で「肥大化」なんて言葉は滅多に使いませんが、この一日はダブルで肥大化していました。
          なお大会映像を見ての通り、マスクを着用しています。<br><br>
          大会終了後、上位入賞チームの発表で、なぜか3位に入賞し、呼ばれた時に、チームメンバー全員で「ええっ！！」と叫んだのが、今でも覚えています。
          成績の詳細を確認すると、モデルの成績が2位と好成績だったことが勝因だったみたいです。
          モデル自体は、完成しておらず、中途半端な状態（クラス図やシーケンス図は矛盾している箇所を残しつつ、4ページ目は未記載）で提出したので、なぜ好成績だったのか、いまだにわからない状態です。<br><br>
          この大会で、モデルを設計した経験が、今後の自分の人生を変えたと言っても過言ではないです。
          なぜなら、ここでの経験が仕事に活かせるようになったからです。
        </div>
      </div>
    </div>
    <div class="etrobocons_contents">
      <div class="etrobocons_content">
        <div class="etrobocons_title">ETロボコン2020 東京地区大会＋CS大会 プライマリークラス</div>
      </div>
      <div class="etrobocons_content">
        <div class="etrobocons_youtube">
          <iframe src="https://www.youtube.com/embed/JNhGqVKpox8" title="【ETロボコン】2020年Lコース リザルト" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <div class="etrobocons_content">
        <div class="etrobocons_describe">
          2020年の大会（Lコース）におけるシミュレーション映像です。
          非常に短い期間（2週間）で、実装を行なった作品になります。
          難所に関しては、開発途中から方針を変え、対応しました。
          本来、ペットボトルをいかに回避し、スラロームを通過するかを競うものでしたが、ペットボトルを2本排除し、足場を作って通過するという方針に変えました。
          方針を変えることで工数を減らすことができ、既存の機能を用いるだけで通過ができ、無事ガレージまで到達することができました。<br><br>
          今回の大会は、新型コロナウィルスの感染拡大の影響により、大会自体が中止に追い込まれかけていましたが、急遽、2021年以降に準備されていたシミュレーションが前倒しで公開されました。
          そのため本大会では、シミュレーション環境(クラウド)上に、ソースコードをアップロードすることで、実行委員側ですべての参加チームの競技をまとめて実行し、その結果をまとめて公表するというイレギュラーな大会になりました。
          私自身、東京地区大会の中で、上位に位置していたこともあり、CS大会への出場権を得ることができました。ただあらかじめ結果が出ていたため、あまり面白味のある大会だったかは、少し疑問です。
        </div>
      </div>
    </div>
    <div class="etrobocons_contents">
      <div class="etrobocons_content">
        <div class="etrobocons_title">ETロボコン2020 東京地区大会＋CS大会 モデル</div>
      </div>
      <div class="etrobocons_content">
        <div class="etrobocons_youtube">
          <iframe src="https://www.youtube.com/embed/Te4v7mhycDo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
      </div>
      <div class="etrobocons_content">
        <div class="etrobocons_describe">
          2020年の大会で提出したモデルです。
          2019年の大会へは出場できなかったため、この日のためにUMLの勉強をしてきており、学んだことを活かしてやろうと、躍起でした。
          （一応、秘密裏に2019年大会へは出場していますが、秘密です）<br><br>
          今回の大会では、モデルで作成した内容を、ほぼ完璧に同じ状態で実装しました。
          これまで参加した大会では、モデルを元にプログラミングしたものではなかったので、どうしても納得がいっていませんでした。
          （プログラミングが先行していたことが原因です）<br><br>
          今回、目標としていたモデル評価に到達することができたので、「自分自身が成長しているんだ」ということを、この大会で実感できました。
          また保守運用していく上で、こう言った基本的な設計書を準備しておくことは、非常に有用な手なのだということも感じました。
        </div>
      </div>
    </div>
    <div class="etrobocons_contents">
      <div class="etrobocons_content">
        <div class="etrobocons_title">本大会への出場によって得られた教訓</div>
      </div>
      <div class="etrobocons_content">
        <div class="etrobocons_describe">
          <li>UMLの概念は、システム開発や導入といった仕事のみならず、その他の仕事や私生活でも、役に立つことがあるということ</li>
          <li>システム設計をする場合、伝えたい内容(要件構成、静的構成、動的構成)を1ページごとに整理すること（一つのページにすべての内容を詰め込むものではない）</li>
          <li>ユースケース図やクラス図やシーケンス図といったUMLのツールは、単に記述方式を提供しているツールにすぎないため、それをどう活かすかは、その人次第
          <li>UML単独では意味がなく、複数のUML(ユースケース図、クラス図、シーケンス図)が関連づけられていなければならない。</li>
        </div>
      </div>
    </div>
    <div class="etrobocons_contents">
      <div class="etrobocons_content">
        <div class="etrobocons_title">その他の情報に関してはこちら</div>
      </div>
      <div class="etrobocons_content">
        <div class="etrobocons_describe">
          2020年大会に関する情報（動画）をもっと知りたい場合は、<%= link_to 'こちら(外部サイト)', "https://www.youtube.com/watch?v=uz_lHOwOBE4&list=PLVII2VwodFZVbSOzvvI44OAskiNT3A6J5", class: "etrobocons_link", target: :_blank, rel: "noopener noreferrer" %>。<br>
          これまで管理人が参加したことのある大会の情報（動画）を知りたい場合は、<%= link_to 'こちら(外部サイト)', "https://www.youtube.com/watch?v=YcsfVBnrAA8&list=PLVII2VwodFZWVfZP36Qbv72LKMLXb769u", class: "etrobocons_link", target: :_blank, rel: "noopener noreferrer" %>。<br>
          "Word Experience"へ戻りたい方は、<%= link_to 'こちら', root_path, class: "etrobocons_link" %>。
        </div>
      </div>
    </div>
  </div>
</div>


