<div class="etrobocons_header">
  <h1>ETロボコンとの歴史と実績</h1>
</div>

<div class="etrobocons_main_flame">
  <div class="etrobocons_main">
    <div class="etrobocons_contents">
      <div class="etrobocons_content">
        <div class="etrobocons_title">【ETロボコン】2020年Lコース リザルト</div>
      </div>
      <div class="etrobocons_content">
        <div class="etrobocons_youtube">
          <iframe src="https://www.youtube.com/embed/uz_lHOwOBE4" title="【ETロボコン】2020年Lコース リザルト" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <div class="etrobocons_content">
        <div class="etrobocons_describe">2020年の大会（Lコース）におけるシミュレーション映像です。非常に短い期間に、実装を行なった作品になります。難所に関しては、開発途中から方針を変え、対応しました。本来、ペットボトルをいかに回避し、スラロームを通過するかを競うものでしたが、ペットボトルを2本排除し、足場を作って通過するという方針に変えました。既存の機能を用いることでガレージまで到達することができました。</div>
      </div>
    </div>
    <div class="etrobocons_contents">
      <div class="etrobocons_content">
        <div class="etrobocons_title">【ETロボコン】2020年Lコース リザルト</div>
      </div>
      <div class="etrobocons_content">
        <div class="etrobocons_youtube">
          <iframe src="https://www.youtube.com/embed/uz_lHOwOBE4" title="【ETロボコン】2020年Lコース リザルト" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <div class="etrobocons_content">
        <div class="etrobocons_describe">2020年の大会（Lコース）におけるシミュレーション映像です。非常に短い期間に、実装を行なった作品になります。難所に関しては、開発途中から方針を変え、対応しました。本来、ペットボトルをいかに回避し、スラロームを通過するかを競うものでしたが、ペットボトルを2本排除し、足場を作って通過するという方針に変えました。既存の機能を用いることでガレージまで到達することができました。</div>
      </div>
    </div>
    <div class="etrobocons_contents">
      <div class="etrobocons_content">
        <div class="etrobocons_title">【ETロボコン】2020年Lコース リザルト</div>
      </div>
      <div class="etrobocons_content">
        <div class="etrobocons_youtube">
          <iframe src="https://www.youtube.com/embed/uz_lHOwOBE4" title="【ETロボコン】2020年Lコース リザルト" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <div class="etrobocons_content">
        <div class="etrobocons_describe">2020年の大会（Lコース）におけるシミュレーション映像です。非常に短い期間に、実装を行なった作品になります。難所に関しては、開発途中から方針を変え、対応しました。本来、ペットボトルをいかに回避し、スラロームを通過するかを競うものでしたが、ペットボトルを2本排除し、足場を作って通過するという方針に変えました。既存の機能を用いることでガレージまで到達することができました。</div>
      </div>
    </div>
    <div class="etrobocons_contents">
      <div class="etrobocons_content">
        <div class="etrobocons_title">【ETロボコン】2020年Lコース リザルト</div>
      </div>
      <div class="etrobocons_content">
        <div class="etrobocons_youtube">
          <iframe src="https://www.youtube.com/embed/uz_lHOwOBE4" title="【ETロボコン】2020年Lコース リザルト" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <div class="etrobocons_content">
        <div class="etrobocons_describe">2020年の大会（Lコース）におけるシミュレーション映像です。非常に短い期間に、実装を行なった作品になります。難所に関しては、開発途中から方針を変え、対応しました。本来、ペットボトルをいかに回避し、スラロームを通過するかを競うものでしたが、ペットボトルを2本排除し、足場を作って通過するという方針に変えました。既存の機能を用いることでガレージまで到達することができました。</div>
      </div>
    </div>
  </div>
</div>


