@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Zen+Antique&display=swap");

.typing_main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  overflow: scroll;
  background: linear-gradient(to left top, #9ab2f4, #f8ff9d);
  font-family: "Poppins", sans-serif;
}

.typing_timer { 
  margin: 2rem 0 0;
  font-size: 4rem;
  font-weight: bold;
  color: rgb(200, 87, 82);
}

.typing_Display{
  background-color: rgb(247, 241, 237);
  font-size: 2.4rem;
  font-weight: 600;
  padding: 1rem 2rem;
  margin: 2rem 0 0;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 90%;
  height: auto;
  box-shadow: 1px 5px 6px rgb(80, 80, 80);
}

.typing_TypeInput {
  background: transparent;
  margin: 2rem 0 0;
  font-size: 2rem;
  width: 100%;
  max-width: 90%;
  height: auto;
  border: 1px double rgb(100,52,52);
  outline: none;
  resize: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.typing_button {
  width: 100%;
  max-width: 90%;
  height: 5rem;
  font-size: 3rem;
  margin: 2rem 0;
  background-color: rgba(236, 216, 206, 0.75);
}

.typing_correct {
  color: green;
}

.typing_incorrect {
  color: red;
  text-decoration: underline;
}

@media (max-width: 599px) {
  .typing_timer { 
    font-size: 2rem;
  }

  .typing_Display{
    font-size: 1.2rem;
  }

  .typing_TypeInput {
    font-size: 1.2rem;
  }

  .typing_button {
    width: auto;
    height: auto;
    font-size: 1.4rem;
    padding: 0.4rem;
  }
}