<input id="header_display" type="checkbox" class="header_check_box">
<label for="header_display" class="header_open">▲</label>
<label for="header_display" class="header_back"></label>
<label for="sidebar_display" class="sidebar_open">◀︎</label>
<div class="header">
  <%= render "shared/header" %>
</div>

<div class="split_main">
  <input id="sidebar_display" type="checkbox" class="sidebar_check_box">
  <label for="sidebar_display" class="sidebar_back"></label>
  <div class="sidebar">
    <%= render "shared/side_bar" %>
  </div>
  <div class="main_screen">
    <h3 class="word_theme">
      管理人にメールが送られました
    </h3>

    <div class="word_board">
      <div class="word_board_text">
        【メールの送信が完了しました】<br>
        ・管理者とあなたへメールが送信されました。<br>
        ・回答までしばらくお待ちください。<br>
        ・gmail.comのドメインでメール受信できることを確認してください。<br><br>
        【重要なお知らせ】必ずご確認ください。<br>
        現在、あなたへメールが送られることはありません。メール送信機能を実装したものの、メールボム攻撃に対する対策が実装できていないためです。ただし管理人へはメールが送信されています。<br>
        ※また上記に合わせて、管理者からの返信も当面、行いません。これはお問い合わせページから送られてきたアドレスの信ぴょう性を判断することができないからです。<br>
        ※これらの対策として、別途、仕様変更を行い、対応してまいります。<br>
      </div>
    </div>
  </div>
</div>