.login_screen{
  background-color: #fcf5f3;
  margin: 10vh 20vw;
  padding-bottom: 40px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

@media (max-width: 599px) {
  .login_screen{
    margin: 0;
    height: 100vh;
    border-radius: 0;
  }
}