.login-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

.form-info-text {
  font-size: 15px;
}

.login-orange-btn {
  width: 100%;
  background: #f49e5d;
  border: 1px solid #fcf5f3;
  border-radius: 10px;
  color: #fff;
  line-height: 48px;
  font-size: 20px;
  cursor: pointer;
}

.login-flash-message {
  text-align: center;
  color: red;
}