.registration_screen{
  background-color: #fcf5f3;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.form-group{
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}

.form-bottom-text{
  font-size: 15px;
  margin-top: 5px;
  text-align: center;
}

.recaptcha{
  display: flex;
  justify-content: center;
}